@{
    ViewData["Title"] = "Home Page";

    <center>
    <h2>Parcial 2 Base de Datos</h2>
    
    <img src="https://png.pngtree.com/png-vector/20190320/ourlarge/pngtree-database-icon-design--interaction-icon-line-vector-illustration-png-image_849102.jpg"  
     width="400"
     height="341">>
     <hr>
 <a asp-action="ViewUser" asp-controller="Home">Ver usuarios</a>
 <a asp-action="Registrarse" asp-controller="Home">Registrarse</a>
   
    </center>
}
